body {
	background-color: #D0CAC9;	
}

button {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	width: 100px;
	padding: 15px;
	margin-right: 20px;
	margin-top: 10px;
	border-radius: 5px;
	text-decoration: none;
}

form {
	margin-top: 20px;
	font-size: 26px;
}

#newButton, #addButton {
	margin-top: 5px;
	font-size: 15px;
}

#addButton {
	background-color: #F25F05;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
